<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">References</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Список сотрудников</a>
                </div>
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/departments/departments">Список отделов</a>
                </div>
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/references/references">Список профессий</a>
                </div>
            </div>
        </div>
    </nav>
</div>